.profile__edit-button {
    background-image: url(../../../images/edit-button.svg);
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
}