.profile__name {
    font-family: 'Inter', Arial, sans-serif;
    font-style:  normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    color: #FFFFFF;
    max-width: 294px;/* Немного увеличил max-width на случай, если имя будет длиннее, чтобы многоточие - */
    margin: 0 18px 0 0;/* - появлялось позже. */
    text-overflow: ellipsis;/* Зачем это нужно для имени? Считаю, что лучше бы был просто перенос - */
    white-space: nowrap;/* - на другую строку, чем сокращение */
    overflow: hidden;
}

@media screen and (max-width: 760px) {
    .profile__name {
        font-size: 27px;
        line-height: 1;
        margin: 0 10px 0 0;
    }
}